header {
    width: 100%;
    background: #7a4d9a;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    position: relative;
}

.logo img {
    width: 250px;

}

/* LINKS EM DESKTOP */
.nav-links {
    display: flex;
    gap: 30px;
    margin-right: 100px;
}

.nav-links a {
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
    color: #fff;
    font-size: 1.3rem;
}

.nav-links a:hover {
    color: #a6dc66;
}

/* HAMBURGER - MOBILE */
.hamburger {
    width: 30px;
    height: 25px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger span {
    display: block;
    height: 4px;
    background: #fff;
    border-radius: 4px;
    transition: 0.3s;
    z-index: 1001;
}

/* MENU MOBILE QUE DESLIZA */
.mobile-nav {
    position: fixed;
    top: 0;
    right: -300px;
    /* escondido */
    width: 250px;
    height: 70vh;
    background: #7a4d9a;
    display: flex;
    flex-direction: column;
    padding: 80px 20px;
    gap: 25px;
    transition: 0.4s ease;
    z-index: 1000;
}

.mobile-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.4s;
    margin-top: 20px;
}

.mobile-nav a:hover {
    color: #a6dc66;
    transition: 0.4s;
}

/* QUANDO ATIVO */
.mobile-nav.active {
    right: 0;
}

/* ANIMAÇÃO DO HAMBURGER QUANDO ATIVO */
.hamburger.active span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

/* RESPONSIVIDADE */
@media (max-width: 900px) {
    .nav-links {
        display: none;
    }

    .hamburger {
        display: flex;
    }
}