header{
    width: 100%;
    display: flex;
    background-color: #7a4d9a;
    padding: 20px 10px;
}

header img{
    width: 250px;
}

nav{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

nav a{
    font-size: 1.5rem;
    text-decoration: none;
    opacity: 0.8;
    transition: 0.3s;
    color: white;
}

nav a:hover{
    color: #a6dc66;
    opacity: 1;
    transition: 0.4s;
}